{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .product {
            width: 80%;
            margin-left: 10%;
        }
        .dates {
            display: flex;
            justify-content: space-between;
        }
        .review{
            margin-top: 20px;
        }
        .review{
            background: coral;
            color: gold;
            padding: 10px;
            margin-bottom: 20px;
        }
        .product img{
            width:80%

        }
    </style>

    <div class="product">
        {% if product_key.image %}
            <img src="/media/{{ product_key.image }}/" alt="image not found ):">
        {% else %}
            <img src="/media/def.jpg" alt="">
        {% endif %}
        <h1>{{ product_key.name }}</h1>
        <h4>{{ product_key.description }}</h4>
        <h4>Rate: {{ product_key.price }}</h4>
        <div class="dates">
            <h5>{{ product_key.created_date }}</h5>
            <h5>{{ product_key.modified_date }}</h5>
            <h5>{{ product_key.category.name }}</h5>
        </div>
        <form action="/products/{{ product_key.id }}/" method="post">
            {% csrf_token %}
            {% if user.username %}
                {{ comment_form }}
                <input type="submit" value="Create Reviewa">
            {% endif %}

        </form>
        <div class="review">
           {% for i in comment_key%}
                <div class="review">
                    <h6> {{ i.author.username}}</h6>
                    <h6> {{ i.text}}</h6>
                    <p> {{ i.Creted_Date}}<p>
                </div>
                {% if i.author.username %}
                <h5>{{ i.author.username }}</h5>
                {% endif %}

            {% endfor %}


        </div>

    </div>
{% endblock %}



























