{% extends 'layouts/index.html' %}

{% block content %}
    <form action="/products" method="get">
            <input type="text" name="search">
            <input type="submit" value="search">
    </form>

    <style type="text/css">
        .products {
            width: 80%;
            margin-left: 10%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
        }
        .pr_image{
            width: 100%;
        }
        .card{
            width: 200px;
        }
    </style>
    <div class="products">
        {% for i in products %}
            <div class="card" style="width: 22rem;">
                <div class="card-body">
                    {% if i.image %}
                        <img class="pr_image" src="/media/{{ i.image }}/">
                    {% else %}
                        <img class="pr_image" src="/media/def.jpg/">
                    {% endif %}
                    <h5>{{ i.name }}</h5>
                    <h6 class="card-title">{{ i.description }}</h6>
                    <h6 class="card-title">{{ i.price }}</h6>
                    <a href="/products/{{ i.id }}" class="card-link">More</a>
                    <div class="dates">
                        <h5> {{ i.created_date }} </h5>
                        <h5> {{ i.modified_date }} </h5>
                    </div>
                    {% if i.author.username %}
                        <h5>{{ i.author.username }}</h5>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pages">
        <a href="/products/?page={{ prev_page}}">
            <button>Prev</button>
        </a>

        {% for page in max_page %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}

         <a href="/products/?page={{ next_page}}">
            <button>Next</button>
        </a>
    </div>

{% endblock %}
